::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: var(--tertiary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--quaternary);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary);
}
