@mixin m12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@mixin m14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

@mixin m16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@mixin m18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

@mixin m24 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

@mixin b12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

@mixin b14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

@mixin b16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

@mixin sb24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

@mixin l12 {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

@mixin l14 {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
