.game-container {
  margin: 0 8px;
  //height: 344px;
  //width: calc(100% + 16px);
  height: calc(100vh - 262px);
  width: min(calc(100svh - 16px), calc(100svw - 16px));
  box-sizing: border-box;
  border-radius: 12px;

  &-animate {
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }

  iframe {
    border: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-height: 100%;
  }

  canvas {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
  }
}

@media screen and (min-width: 440px) {
  .game-container {
    height: calc(100vh - 276px);
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .game-container {
    top: 16px;
    position: absolute;
    height: calc(100svh - 28px);
    width: calc(100% - 376px);
    //height: min(calc(100svh - 28px), calc(100vw - 400px));
    //width: min(calc(100svh - 28px), calc(100vw - 400px));
    margin: 0;
    left: 360px;

    &-right {
      left: 16px;
    }
  }
}

@media screen and (min-width: 1026px) {
  .game-container {
    position: absolute;
    top: 16px;
    height: calc(100vh - 28px);
    width: calc(100% - 376px);
    //height: min(calc(100vh - 28px), calc(100vw - 412px));
    //width: min(calc(100vh - 28px), calc(100vw - 412px));
    margin: 0;
    left: 360px;

    &-right {
      left: 16px;
    }
  }
}
