@use '../typography' as t;

.honesty-seed-info-clipboard {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }

  &:active {
    opacity: 0.7;
  }

  &-arrow {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;
  }

  &-hint {
    display: block;
    position: absolute;
    top: calc(100% + 6px);
    right: -6px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    background: var(--settings);
    box-shadow: 0 4px 4px rgba(7, 8, 16, 0.20);
    width: 128px;
    z-index: 2;

    &-copy {
      color: var(--primary);
      @include t.m12();
      text-align: center;
    }
  }
}
